#ulMenu {
  list-style-type: none;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
  overflow: hidden;
  background-color: #eeeeee;
}

#liMenu {
  float: left;
}

#liMenu a {
  display: block;
  color: rgb(26, 41, 49);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #999;
  color: white;
}

h1 {
 text-align: center;
}
